*{
   margin: 0%;
   
}
#stickyheader{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 10;
}
#headerone{
    display: flex;
    flex-direction: row;
    justify-content: middle;
    align-items: center;
    padding-top: 15px;
    padding-bottom:10px ;
    background-color: white;
    box-shadow: 0px 2px 0px rgb(209, 209, 209);
}
#headerone>p{
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
#headerone>p:hover{
    color: darkgreen;
    cursor: pointer;
}
.dropdown{
 width: 30px;
 padding-left: 0%;
 transform: translate(-60%,2px);
}
.dropdown:hover{
    cursor: pointer;
    
}


#logogg{
   
    height: 27px;
}
#logolink:any-link{
    position: absolute;
    right: 50%;
    transform: translateX(40%);
    text-decoration: none;
    
}

#buttons{
    position: absolute;
    right: 3%;
    display: flex;
    justify-content: middle;
    align-items: center;
}
.btnwl{
    border: none;
 margin-right: 20px;
 background-color: white;
 width: 40px;
 height: 40px;
}
.btnwl:hover{
    cursor: pointer;
}
.btnwle{
    width: 30px;
 height: 30px;
}
#menubtn:hover{
    
    border-radius: 50%;
    background-color: rgb(209, 209, 209);

}
#signinbtn{
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    background-color: rgb(5, 5, 5);
    font-size: 15px;
    color: white;

}
#signinbtn:hover{
    cursor: pointer;
}
#headertwo{
    margin-top: 2px;
    background-color: white;
    padding: 8px;
    font-family: 'Saira Condensed', sans-serif;
    box-shadow: 0px 2px 0px rgb(241, 240, 240);
}
#headertwo>a{
    margin-left: 10px;
    padding-right: 10px;
    
    font-size: 18px;
    color: black;
    text-decoration: none;
}
#headertwo>a:hover{
    cursor: pointer;
    color: darkgreen;
}
#headertwo>a:visited{
    color: black;
    text-decoration: none;
}
#tutdropdwn{
    width: 190px;
    height: 258px;
    border: black;
    background-color: green;
    position: absolute;
    top: 10%;
    left: 2%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
    display: none;
    z-index: 3;
}
.distut{
    display: flex;
}
.tutbtn{
    border: none;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-align: start;
    padding: 8px;
    background-color: white;
}
.tutbtn:hover{
    cursor: pointer;
    background-color: rgb(206, 203, 203);
}
.tutbtnarr{
    position: absolute;
    right: 5%;
    width: 15px;
    transform: translateY(5px);
}
#algomenu{
    width: 190px;
    height: 257px;
    border: black;
    background-color: green;
    position: absolute;
    top: 10%;
    left: 16%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
    display: none;
    z-index: 3;
}
#dsmenu{
    width: 190px;
    height: 340px;
    border: black;
    background-color: green;
    position: absolute;
    top: 10%;
    left: 16%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
    display: none;
    z-index: 3;
}
#langmenu{
    width: 190px;
    height: 468px;
    border: black;
    background-color: green;
    position: absolute;
    top: 10%;
    left: 16%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
    display: none;
    z-index: 3;
}
#intmenu{
    width: 190px;
    height: 340px;
    border: black;
    background-color: green;
    position: absolute;
    top: 10%;
    left: 16%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
    display: none;
    z-index: 3;

}
#gatemenu{
    width: 190px;
    height: 284px;
    border: black;
    background-color: green;
    position: absolute;
    top: 10%;
    left: 16%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
    display: none;
    z-index: 3;
}
#isromenu{
    width: 190px;
    height: 184px;
    border: black;
    background-color: green;
    position: absolute;
    top: 10%;
    left: 16%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
    display: none;
}
#stddropdwn{
    width: 200px;
    height: 425px;
    border: black;
    background-color: green;
    position: absolute;
    position:sti;
    top: 10%;
    left: 9%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
    display: none;
    z-index: 3;
}
#jobdropdwn{
    width: 200px;
    height: 90px;
    border: black;
    background-color: green;
    position: absolute;
    top: 10%;
    left: 17%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
    display: none;
}
#searchbox{
    position: absolute;
    right: 19%;
    top: 2%;
    height: 30px;
    font-family: 'Saira Condensed', sans-serif;
   font-size: 18px;
   border: none;
   background-color: gray;
   border-radius: 8px;
   color: white;
   
   display: none;
}
#searchbox:focus{
    border: none;
    outline: none;
}
#menu-dropdwn{
    color: black;
    background-color: white;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 9%;
    box-shadow: 0px 2px 0px rgb(241, 240, 240);
    display: none;
}
.right-menu-links>a{
    color: black;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
}
.right-menu-links>a:hover{
    color: darkgreen;
    text-decoration: underline;
    cursor: pointer;
}
#right-links{
    margin: 25px;
}
#link-table-one{
    position: absolute;
    right: 25%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    
}
#link-table-two{
    position: absolute;
    right: 10%;
    display: flex;
    flex-direction: column;
}
.menu-drop-logos{
 position: absolute;
 height: 50px;
 transform: translateY(-15px);
}
#job-div{
    width: 90px;
    height: 100px ;
    position: absolute;
    right: 45%;
    background-color: white;
    font-family: 'Saira Condensed', sans-serif;
}
#job-div>h1{
    position: absolute;
    transform: translateY(30px);
}
#job-div>h2{
    font-size: 13px;
    color: rgb(151, 151, 151);
    transform: translateY(80px);
}
#job-div:hover{
    cursor: pointer;
    color: darkgreen;
}
#premium-div{
    width: 150px;
    height: 100px ;
    position: absolute;
    right: 60%;
    background-color: white;
    font-family: 'Saira Condensed', sans-serif;
}
#premium-div>h1{
    position: absolute;
    transform: translateY(30px);
}
#premium-div>h2{
    font-size: 13px;
    color: rgb(151, 151, 151);
    transform: translateY(80px);
}
#premium-div:hover{
    cursor: pointer;
    color: darkgreen;
}
#practice-div{
    width: 150px;
    height: 100px ;
    position: absolute;
    right: 75%;
    background-color: white;
    font-family: 'Saira Condensed', sans-serif;
}
#practice-div>h1{
    position: absolute;
    transform: translateY(30px);
}
#practice-div>h2{
    font-size: 13px;
    color: rgb(151, 151, 151);
    transform: translateY(80px);
}
#practice-div:hover{
    cursor: pointer;
    color: darkgreen;
}
#write-div{
    width: 150px;
    height: 100px ;
    position: absolute;
    right: 88%;
    background-color: white;
    font-family: 'Saira Condensed', sans-serif;
}
#write-div>h1{
    position: absolute;
    transform: translateY(30px);
}
#write-div>h2{
    font-size: 13px;
    color: rgb(151, 151, 151);
    transform: translateY(80px);
}
#write-div:hover{
    cursor: pointer;
    color: darkgreen;
}
#signin-div{
    width: 400px;
    height: 390px;
    background-color: rgb(196, 192, 192);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);

    display: none;
    
    
}
.signinup{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 700;
     width: 50%;
     height: 40px;
     background-color: darkgrey;
     
     font-size: 20px;
      border: none;
}
.signinup:hover{
    cursor: pointer;
}
#sign-up-btn-s{
    background-color: rgb(235, 229, 229);
}
#sign-in-div{
    font-family: 'Saira Condensed', sans-serif;
    display: block;
    
    
}
#sign-in-div>input{
position: absolute;
right: 15%;

       
    font-family: 'Saira Condensed', sans-serif;
    width: 70%;
    height: 35px;
    font-size: 20px;
}
#signin-btn{
    width: 70%;
    position: absolute;
right: 15%;
  height: 35px;
  color: white;
  background-color:#1FDB53 ;
  border: none;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 7px;
}
#signin-btn:hover{
    cursor: pointer;
}

.google{
    margin-right: 20px;
    margin-bottom: 10px;
    background-color:#F14615;
    color: white;
    width: 35%;
    height: 30px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.google:hover{
    cursor: pointer;
}
.facebook{
    margin-right: 20px;
    background-color:#4267B2;
    color: white;
    width: 35%;
    height: 30px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.facebook:hover{
    cursor: pointer;
}
.ld{
    margin-right: 20px;
    background-color:#0072b1;
    color: white;
    width: 35%;
    height: 30px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.ld:hover{
    cursor: pointer;
}
.git{
    margin-right: 20px;
    background-color:#211F1F;
    color: white;
    width: 35%;
    height: 30px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.git:hover{
    cursor: pointer;
}
#otherlinks{
    
    transform: translate(13%,15px);
}

#sign-up-div{
    font-family: 'Saira Condensed', sans-serif;
    position: absolute;
    display: none;
    
}
#sign-up-div>input{
position: absolute;
right: 15%;

       border-radius: 7px;
    font-family: 'Saira Condensed', sans-serif;
    width: 70%;
    height: 35px;
    font-size: 20px;
    border: none;
}

#signup-btn{
    width: 70%;
    position: absolute;
right: 15%;
top: 60%;
  height: 35px;
  color: white;
  background-color:#1FDB53 ;
  border: none;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 7px;
}
#signup-btn:hover{
    cursor: pointer;
}
#singuplinks{
    
    
        transform: translate(13%,10px);
    
}
#canclebutton{
    position: absolute;
    right: 0%;
    top:-20px;
    width: 25px;
    text-align: center;
    height: 20px;
    background-color: red;
    color: white;
    border: none;
}
#canclebutton:hover{
    cursor: pointer;
}
#quicklinks{
    position: absolute;
    top:33%;
    right: 10%;
    display: flex;
    flex-direction: column;
    color: darkgreen;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 19px;
}
.qlbtns{
    width: 300px;
    padding: 15px;
    text-align: left;
    border: none;
    background-color: white;
    font-size: 19px;
    font-family: 'Saira Condensed', sans-serif;
    border-radius: 10px;
}
.qlbtns:hover{
    background-color: rgb(231, 229, 229);
    cursor: pointer;
    font-size: 22px;
    
}
#featuredart{
    position: absolute;
    top:99%;
    right: 10%;
    display: flex;
    flex-direction: column;
    color: darkgreen;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 19px;
}
#whatsnew{
    position: absolute;
    top:240%;
    right: 10%;
    display: flex;
    flex-direction: column;
    color: darkgreen;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 19px;
}
#dsacard{
    display: flex;
    
    
    flex-direction: column;
    font-size: 19px;
}
#dsacard>img{
    height: 70px;
    align-items: flex-start;
}
#dsascard{
    display: flex;
    
    
    flex-direction: column;
    font-size: 19px;
}
#reco{
    position: absolute;
    top:325%;
    right: 10%;
    display: flex;
    flex-direction: column;
    color: darkgreen;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 19px;
}
#footer{
    
    border-top: 2px solid rgb(241, 240, 240);
    position: absolute;
    top: 400%;
    
    width: 100%;
    height: 200px;
    background-color: white;

}
#logoadr{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 15px;
    font-weight: 800;
    width: 200px;
    position: absolute;
    left: -100px;
    transform: translate(130px,10px);
  
}
.loc{
    height: 19px;
}
#mail:hover{
    cursor: pointer;
    color: darkgreen;
}
#company{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 19px;
    font-weight: 800;
    
    width: 200px;
    position: absolute;
    left: 230px;
    transform: translate(130px,10px);
}
#company>p:hover{
cursor: pointer;
color: darkgreen;
}
#learn>p:hover{
    cursor: pointer;
    color: darkgreen;
}
#contri>p:hover{
    cursor: pointer;
    color: darkgreen;
}
#prac>p:hover{
    cursor: pointer;
    color: darkgreen;
}
#learn{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 19px;
    font-weight: 800;
    
    width: 200px;
    position: absolute;
    left: 430px;
    transform: translate(130px,10px);
}

#prac{
font-family: 'Saira Condensed', sans-serif;
    font-size: 19px;
    font-weight: 800;
    
    width: 200px;
    position: absolute;
    left: 630px;
    transform: translate(130px,10px);
}
#contri{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 19px;
    font-weight: 800;
    
    width: 200px;
    position: absolute;
    left: 830px;
    transform: translate(130px,10px);
}
#endfoot{
 position: absolute;
 bottom: -20px;
 width: 100%;
 height: 30px;
 background-color: rgb(11, 151, 11);
 font-family: 'Saira Condensed', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: row;
}
#gblogcard{
    
   
    transform: translate(20%,50%);
    top: 8%;
    left: 10%;
    width: 700px;
     height: 300px;
     border-radius: 9px;
     box-shadow: 0px 1px 3px rgb(102, 100, 100);
     z-index: 1;
}
#gbcard{
    
    width: 700px;
    height: 300px;
}
#gbcard:hover{
    cursor: pointer;
}
#gblogc{
    position: relative;
    top: 0%;
    left: 10%;
    transform: translate(80%,-100%);
    width: 350px;
    height: 300px;
    background-color: white;
    font-family: 'Saira Condensed', sans-serif;
}
.readmore{
    color: darkgreen;
}
.readmore:hover{
    text-decoration: underline;
    color: darkgreen;
    cursor: pointer;
}
#top{
    position: fixed;
    bottom: 0%;
    height:29px ;
    position: absolute;
 right: 50%;
 transform: translateX(50%);
 background-color: rgba(156, 144, 144, 0.801);
 border-radius: 2px;
 border:solid 1px black;
}
#top:hover{
    cursor: pointer;
}
#maincontent{
    position: absolute;
    left: 5%;
    top: 85%;
    width: 700px;
    border-bottom: 1px solid rgb(190, 188, 188);
}
#firstcard{
    font-family: 'Saira Condensed', sans-serif;
    border-bottom: 1px solid rgb(190, 188, 188);
}#firstcard>h3{
 font-size: 18px;
}
#firstcard>p{
    color: rgb(151, 142, 142);
    font-size: 18px;
}
#f1c>h5:hover{
    cursor: pointer;
}
#pgbtns{
    position: absolute;
    top: 390%;
    right: 50%
}
#pgbtns>button{
    background-color: rgb(235, 228, 228);
    height: 25px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
}
#pgbtns>button:hover{
    color: white;
    background-color: darkgreen;
    cursor: pointer;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color:  	#FF355E;
    border-radius: 20px;
}